<ion-view view-title="Mi Actividad" cache-view="true">
  <ion-content>
   <!-- <p>{{ numero }}</p> -->
    <ion-refresher pulling-text='Cargar información...' on-refresh='doRefresh()' spinner='ripple' pulling-icon='ion-ios-loop-strong'>
    </ion-refresher>
    <ion-list>
      <ion-item ng-class="{ 'activity-item-orange':notificationIsOrange(notification), 'activity-item-green':notificationIsGreen(notification), 'activity-item-unread':notificationIsUnread(notification) }" 
      class="item-avatar-left item-icon-right activity-item" 
      ng-click='goToReportDetail(notification)' 
      ng-repeat='notification in notifications | limitTo:25'>              
        <div class='activity-item-avatar-div' style='background-image: url({{ notification.get_user_avatar }});'></div>
        <p style="font-size: 10px; margin: 0;"><span class='activity-item-username'>{{ notification.get_username }}</span> hace {{ notification.get_oldness }}</p>
        <p>{{ notification.get_activity_message }}</p>
        <i class="icon ion-ios-arrow-right dark"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>