<style >
  a{
    color: black;
  }
</style>

<ion-view view-title='Nuevo Reporte' hide-nav-bar='true' cache-view="false">
  <ion-header-bar class='bar-energized'>
    <button class='button button-clear' ng-click='endNewReportProcess()'>Cancelar</button>
    <h1 class='title'>Nuevo Reporte</h1>
    <button class='button button-clear' ng-click='submitReport(newReportData)'>Enviar</button>
  </ion-header-bar>
  <ion-content>
    <!-- <div class='new-report-image-preview' style='background-image: url({{newReportData.image}}); background-repeat: no-repeat; background-size: 100% auto; background-position: center center;'>
      <span class="icon icon-camara"></span>
    </div> -->
    <div class="new-report-image-preview" style="
         /* position: fixed; */
         top: 0;
         left: 0;
         width: 100%;
         background: #e6e6e6;
     ">

            <!-- <span class="icon icon-camara"></span> -->


        <div class="camara" ng-click='chooseImageSource()' id="logo1" style="
         background-repeat: no-repeat;
         width: 100px;
         background-size: 100px;
         height: 100px;
         top: 25%;
         margin: 0 auto;
         position: relative;
         /* background: orange; */
         font-size: 145px;
         background-image: url(http://i.imgur.com/P5Hfjl9.png);
     "></div>
    <div  class="titulo" id="logo" style="
        margin: 62px;
        text-align: -webkit-center;
        color: #666666;
    ">Toca para añadir fotografía</div>
        </div>



        <h4 class="padding" style="
        font-family: Montserrat-Regular;
        text-trans : uppercase;
        color: #666666;
        margin-bottom: 0px;
        ">Tipo de problema</h4>
    <!-- <div class="tabs tabs-icon-top tabs-middle">
      <a class="tab-item" ng-repeat="category in reportCategoryList" ng-class="{ active: categoryIsSelected(category.name) }" ng-click="setSelectedCategory(category)">
        <i ng-class='category.icon'></i>
        {{ category.name }}
      </a>
    </div> -->
<div class="tabs tabs-icon-top tabs-middle">
    <div class="tab-item" ng-repeat="merchant in merchants"  style="border-left: 0px solid #ffffff";>
      <div class="followrow">
        <a ng-click="toggleImage(merchant)"><img id="followbutton" style="width: 70%;" ng-src="{{merchant.imgUrl}}"  />
          <div id="categoynewReport" ng-class="{categoriaSelector : activeMenu === merchant}">
            {{ merchant.name }}
          </div>
        </a>
      </div>
    </div>
 </div>

    <h4 class='padding subtitulo'>Confirma Ubicación</h4>
    <div id="mexico">
          <button class='button button-on-map button-on-map-toggle-side-menu' ng-click='botonYo()'><span class='icon ion-android-locate'></span></button>
    <div class='report-mini-map' id='new-report-map-container' data-tap-disabled='true'></div>
    </div>

    <div class='padding'>
            <span class="error" ng-show="myTextarea.$error.maxlength">
         Reached limit!
     </span>
      <h4>Comentarios Adicionales</h4>
      <label class="item item-input">

        <textarea name="myTextarea" class='new-report-comment-box' ng-model='newReportData.details'  ng-maxlength="15" maxlength="250"></textarea>
      </label>
    </div>

    <!---Se agrega boton de localizacion al momento de generar nuevo reporte-->
  </ion-content>
</ion-view>