<ion-modal-view class='reply-to-modal'>
  <ion-header-bar class='bar-energized'>
    <button class='button button-clear' ng-click='closeReplyToModal()'>Cancelar</button>
    <h1 class='title'>Respuesta</h1>
    <button class='button button-clear' ng-click='replyComment()'>Enviar</button>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <label class="item item-input">
        <textarea placeholder="Comentario" ng-model='newReplyComment.content' class='reply-to-comment-box' autofocus></textarea>
      </label>
    </ion-list>
  </ion-content>
</ion-modal-view>