<ion-view view-title="YoCiudadano" hide-nav-bar="true" class="splash-page" cache-view="false">
	<ion-content scroll='true'>
		
		<div class="padding logo">
      <h1><img ng-src='img/logo_main.png' alt='YoCiudadano'></h1>
    </div>

    <div class="login-form">
      <div class="card">
        <div class="list">
          <label class="item item-input">
            <input type="text" ng-model="form.username" placeholder="E-mail o nickname">
          </label>
          <label class='item item-input'>
          	<input type="password" ng-model="form.password" placeholder="Contraseña">
          </label>
        </div>
      </div>

      <div class="padding-left padding-right">
        <button class="button button-block button-energized" ng-click="login(form.username, form.password)">
          Iniciar sesión
        </button>
	      <button class="ion-social-facebook button button-block btn-facebook " ng-click="facebookLogin()">Inicia sesión con Facebook</button>
      <!-- 	<button class="button button-block button-positive" ng-click="googleLogin()">
        	Inicia sesión con Google
      	</button> -->
      	<!-- <button class="button button-block btn-twitter icon-twitter" ng-click="twitterLogin()"> |   Inicia sesión con Twitter</button> -->
		<button class="ion-social-twitter button button-block btn-twitter" ng-click="twtLogin()">Inicia sesión con Twitter</button>
		

      </div>
    </div>

    <div class='signup-opt' ng-click='goToSignup()'>
    	Crear una cuenta
    </div>

    <div class='signup-opt' ng-click='recoverPassword()'>
    	Recuperar contraseña
    </div>

    <div class='signup-opt' ng-click='reportProblem()'>
      Reportar problemas con la aplicación
    </div>

	</ion-content>


    <script id="popup-template.html" type="text/ng-template">
      <input ng-model="data.wifi" type="email" placeholder="Correo electronico">
    </script>


</ion-view>



  
