<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-side-menus enable-menu-with-back-views="false" >
  <ion-side-menu-content>

  <!--TABS-->
  <ion-tabs class="tabs-icon-top" keyboard-handler>
   <div class="hide-on-keyboard-open">
  <!-- Map Tab -->
  <ion-tab title="Ciudad" icon-off="icon-tab-ciudad" icon-on="icon-tab-ciudad" href="#/tab/map" class='tab-ciudad'>
    <ion-nav-view name="tab-map"></ion-nav-view>
  </ion-tab>
   <!-- comentario para 0.0.1 -->                                                   
   <!-- Activity Tab -->
  <ion-tab title="Actividad" icon-off="icon-tab-mi-actividad" icon-on="icon-tab-mi-actividad"  badge= "data.badgeCount" badge-style="badge-assertive" href="#/tab/activity" class='tab-mi-actividad'>
    <ion-nav-view name="tab-activity"></ion-nav-view>
  </ion-tab>
   <!-- Contacts Tab -->
  <ion-tab title="Directorio" icon-off="icon-tab-directorio" icon-on="icon-tab-directorio" href="#/tab/contacts" class='tab-directorio'>
    <ion-nav-view name="tab-contacts"></ion-nav-view>
  </ion-tab>

   <!-- YCTV Tab -->
  <ion-tab title="TV" icon-off="icon-tab-yctv" icon-on="icon-tab-yctv" href="#/tab/yctv" class='tab-yctv hide-on-keyboard-open'>
    <ion-nav-view name="tab-yctv"></ion-nav-view>
  </ion-tab>

   <!-- Profile Tab -->
  <ion-tab title="Yo" icon-off="icon-tab-yo" icon-on="icon-tab-yo" href="#/tab/profile" class='tab-yo hide-on-keyboard-open'>
    <ion-nav-view name="tab-profile"></ion-nav-view>
  </ion-tab>
  </div>
</ion-tabs>

</ion-side-menu-content>

<!-- Side Menu (Left) --> 

<ion-side-menu side="left" ng-controller="MapCtrl">
            <ion-content padding="false" style="top:0px !important;" class="side-menu-left side-menu-gradient">
            <div class="spacer" style="width: 268px; height: 22px;"></div>
            <div class="profile-image">
                <img src="http://i.imgur.com/KyxnsCS.png" width="50%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <h3 id="menu-heading1" style="color:#FFFFFF;font-weight:300;text-align:center;">Filtrar Reportes</h3>
            <ion-list id="menu-list1">
                <ion-item ui-sref-active="active" class="item-icon-left item-icon-right  side-menu-item" id="menu-list-item1" ui-sref="" menu-close="" ng-click="misReportes()">
                    <i class="icon filtro-misreportes"></i>Mis Reportes
                    <i class="icon ion-chevron-right"></i>
                </ion-item>

                <ion-item ui-sref-active="active" class="item-icon-left item-icon-right  side-menu-item" id="menu-list-item2" ui-sref="" menu-close="" ng-click="todosReportes()">
                    <i class="icon filtro-Asset-8"></i>Todos los reportes
                    <i class="icon ion-chevron-right"></i>
                </ion-item>

                <ion-item ui-sref-active="active" class="item-icon-left item-icon-right  side-menu-item" id="menu-list-item3" ui-sref="" menu-close="" ng-click="soloPavimento()">
                    <i class="icon filtro-pavimento"></i>Sólo Pavimento
                    <i class="icon ion-chevron-right"></i>
                </ion-item>

                <ion-item ui-sref-active="active" class="item-icon-left item-icon-right  side-menu-item" id="menu-list-item7" ui-sref="" menu-close="" ng-click="soloAlumbrado()">
                    <i class="icon filtro-alumbrado"></i>Sólo Alumbrado
                    <i class="icon ion-chevron-right"></i>
                </ion-item>

                <ion-item ui-sref-active="active" class="item-icon-left item-icon-right  side-menu-item" id="menu-list-item8" ui-sref="" menu-close="" ng-click="soloParques()">
                    <i class="icon filtro-parques"></i>Sólo Parques
                    <i class="icon ion-chevron-right"></i>
                </ion-item>

                <ion-item ui-sref-active="active" class="item-icon-left item-icon-right  side-menu-item" id="menu-list-item9" ui-sref="" menu-close="" ng-click="soloLimpia()">
                    <i class="icon filtro-limpia"></i>Sólo Limpia
                    <i class="icon ion-chevron-right"></i>
                </ion-item>

                <ion-item active-page-highlight ui-sref-active="active" class="item-icon-left item-icon-right  side-menu-item" id="menu-list-item10" ui-sref="1" menu-close="" ng-click="soloAccesibilidad()">
                    <i class="icon filtro-Asset-6"></i>Sólo Accesibilidad
                    <i class="icon ion-chevron-right"></i>
                </ion-item>
            </ion-list>
        </ion-content>
  </ion-side-menu>
</ion-side-menus>
