<ion-view view-title="YoCiudadanoTV">
  <ion-content>
  
  <body data-ng-controller="YctvCtrl">    
    <!--      <div class="youtube-container"></div> -->
      <div id="youmax" class="youmax"></div> 

    <script type="text/javascript">
    $("#youmax").youmax({ 

    apiKey:"AIzaSyDeEtIwcFL-snyJhm-AJu8ByVp9WIihwJQ", 
    vimeoAccessToken:"", 
    clientId:"", 
    channel:"", 
      youtube_playlist_videos:[ 
        { 
          name:"YoCiudadanoTV", 
          url:"http://www.youtube.com/playlist?list=PL9AP2p_ZXpivXNq0iY1gTyBKUXJh2WTCx", 
          selected:true
        }, 
      ], 

      displayVideo:"thumbnail", 
      skin:"list1", 
      playIconType:"default", 
      widgetMode:true, 
      hideHeader:true, 
      hideNavigation: true,
      hideComments:true, 
      hideVideoDetails:true, 
      maxResults:3
    });
    </script>


      
        
      </body>
    
    
    
  </ion-content>
</ion-view>
