$positive: white;
$SIDEMENU_TOP: #f15a24;
$SIDEMENU_BOTTOM: #ff9068;
$SIDEMENU_TRANSPARENCY: rgba(255,255,255,0.4);
$ionicons-font-path: "../lib/ionic/fonts" !default;
@import "www/lib/ionic/scss/ionic";

.side-menu-item {
	background: none;
	color: white;
	font-weight: 300;
	border: 0px;
	.item-content {
		background: none;
		&.activated {
			background: $SIDEMENU_TRANSPARENCY;
		}
		
	}
}
.side-menu-gradient {
	background: -webkit-linear-gradient(left top, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
	background: -o-linear-gradient(bottom right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
	background: -moz-linear-gradient(bottom right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
	background: linear-gradient(to bottom right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
}

.profile-image {
	img {
		border-radius: 50%;
		margin: 10px;
		border: 1.5px solid $SIDEMENU_TRANSPARENCY;
	}
	
}

#cart-card21{
position: absolute;
top: 0px;
padding: 5px;
box-shadow: 0 1px 2px #aaa;
background: white;
user-select: none;
transform-origin: top left;
/* border-radius: 4px; */
width: 94%;
/* margin: 5% */
z-index: 9999;
}

#direccion{
  display: block; /* or inline-block */
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 3.6em;
  line-height: 1.8em;
}
