<ion-view cache-view="true" view-title="Directorio">
	<ion-content>
    <ion-refresher pulling-text='Cargar información...' on-refresh='doRefresh()' spinner='ripple' pulling-icon='ion-ios-loop-strong'>
    </ion-refresher>
		<ion-list>
      <ion-item class="item item-icon-right item-avatar-left contact-item" href="#" ng-repeat="contact in contact_list" ng-href="tel: {{ contact.phone }}">
        <img ng-src='{{ SERVER.url + contact.avatar_url }}' class='contact-item-avatar'/>
        <strong>{{contact.name}}</strong>
        <p>{{ contact.phone }}</p>
        <i class="icon ion-ios7-telephone dark"></i>
       </ion-item>
     </ion-list>
	</ion-content>
</ion-view>