<ion-view view-title="Completa tu registro" hide-nav-bar='false' class='splash-page'>
	<ion-nav-bar class='bar-clear'>
    <ion-nav-back-button class="button-clear back-button-yc" ng-hide='true'>
      <i class='icon-yc-back'></i>
    </ion-nav-back-button>
  </ion-nav-bar>
	<ion-content>
		<div class="login-form">
	  	<div class="card">
	    	<div class="list">
	      	<label class="item item-input">
	        	<input type="text" ng-model="form.username" placeholder="Nickname">
				</label>
			<label class="item item-input">
				<input type="email" ng-model="form.email" placeholder="Correo Electr&#243;nico">
				</label>	
	      </div>
	    </div>
	    <div class='card'>
	      <div class='list'>
	      	<div class='item item-divider'>Fecha de nacimiento</div>
	        <label class='item item-input item-select'>
	        	<div class='input-label'>
	        		D&#237;a
	        	</div>
	        	<select ng-model='form.day'>
	        		<option ng-repeat='day in days'>{{ day }}</option>
	        	</select>
	        </label>
	        <label class='item item-input item-select'>
	        	<div class='input-label'>
	        		Mes
	        	</div>
	        	<select ng-model='form.month'>
	        		<option ng-repeat='month in months'>{{ month }}</option>
	        	</select>
	        </label>
	        <label class='item item-input item-select'>
	        	<div class='input-label'>
	        		A&#241;o
	        	</div>
	        	<select ng-model='form.year'>
	        		<option ng-repeat='year in years'>{{ year }}</option>
	        	</select>
	        </label>
	      </div>
	    </div>

	    <div class='padding-left padding-right'>
		    <div class='button-bar'>
		    	<a class='button' ng-class='{ "active": !form.genderBool }' ng-click="form.genderBool = false">Masculino</a>
		    	<a class='button' ng-class='{ "active": form.genderBool }' ng-click="form.genderBool = true">Femenino</a>
		    </div>
		  </div>

	    <div class='signup-opt' ng-click='openTermsModal()'>
	    	Acepto los <span class='energized'>t&#233;rminos y condiciones de uso</span>
	    </div>

	    <div class="padding-left padding-right">
	      <button class="button button-block button-energized" ng-click="finishSignup(form)">
	        Enviar
	      </button>
	    </div>
	  </div>
	</ion-content>
</ion-view>