<ion-view hide-back-button="true" view-title="Instructivo">
        <ion-nav-buttons side="left">
          <button class="button button-positive button-clear no-animation"
                  ng-click="startApp()" ng-show="!slideIndex">
            Omitir Instructivo
          </button>
          <button class="button button-positive button-clear no-animation"
                  ng-click="previous()" ng-show="slideIndex > 0">
            Anterior
          </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right"> 
          <button class="button button-positive button-clear no-animation"
                  ng-click="next()" ng-show="slideIndex != 9">
            Siguiente
          </button>
          <button class="button button-positive button-clear no-animation"
                  ng-click="startApp()" ng-show="slideIndex == 9 ">
            ¡A Reportar!
          </button>
        </ion-nav-buttons>
        <ion-slide-box on-slide-changed="slideChanged(index)">
          <ion-slide>
              <img src="img/slide_1.png" class="img-responsive">
          </ion-slide>
          <ion-slide>
              <img src="img/slide_2.png" class="img-responsive">
          </ion-slide>
          <ion-slide>
              <img src="img/slide_3.png" class="img-responsive">
          </ion-slide>
          <ion-slide>
              <img src="img/slide_4.png" class="img-responsive">
          </ion-slide>
          <ion-slide>
              <img src="img/slide_5.png" class="img-responsive">
          </ion-slide>
          <ion-slide>
              <img src="img/slide_6.png" class="img-responsive">
          </ion-slide>
          <ion-slide>
              <img src="img/slide_7.png" class="img-responsive">
          </ion-slide>
          <ion-slide>
              <img src="img/slide_8.png" class="img-responsive">
          </ion-slide>
          <ion-slide>
              <img src="img/slide_9.png" class="img-responsive">
          </ion-slide>
          <ion-slide>
              <img src="img/slide_10.png" class="img-responsive">
          </ion-slide>
        </ion-slide-box>
      </ion-view>