<style>
.card {
  position: absolute;
  padding:1.5rem;
  padding-bottom: 1px;
  box-shadow:0 1px 2px #aaa;
  background:white;
  margin:1rem 1rem 1rem;
  border-radius:3px;
  user-select:none;
  animation:fly-in-from-left .5s 1s ease both;
  transform-origin:top left;
   width: 92.4%;
   z-index: 9999;
}
.card:nth-child(even){
  animation-name:fly-in-from-right;
  animation-delay:1.1s;
 transform-origin:top right;
}
.card:after {
/*  position:absolute;
  font-size:.9rem;
  top:1.5rem;
  right:1rem;
  content:"i";
  border:thin solid gray;
  color:gray;
  width:1rem;
  line-height:1rem;
  text-align:center;
  border-radius:50%;
  pointer-events:none;*/
}

#image > img{
    width: 60px;
    height: 60px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.ellip {
  display: block;
  height: 100%;
}

.ellip-line {
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  max-width: 65%;
}

.ellip,
.ellip-line {
  position: relative;
  overflow: hidden;
}

p {
    margin: 0 0 -8px;
}

#tarjeta>.row {
    margin-top: -20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    padding: -10px;
    width: 100%;
    padding-top: -50px;
}

div#botones {
    margin-top: 10px;
}

i.icon.ion-ios-arrow-right.dark {
    font-size: 60px;
    line-height: 2;
    vertical-align: -10px;
    
}

div#indicadores{
    margin-left: 5px;
    font-family: Montserrat-Light;
    font-size: 15px;

}

i.icon.ion-ios-arrow-right.dark::before {
    font-size: 60px;
    vertical-align: baseline;
    margin-left: -10px;
}
</style>

<ion-view view-title="YoCiudadanoTV" hide-nav-bar='true' cache-view="true">
   <ion-content scroll='false'>
    
    <div style="width: 100%;/* margin-left: 10%; */height: 100%;background-color: rgba(0, 0, 0, 0);" id="map_canvas">
    <button class='button button-on-map ion-compose button-on-map-new-report' ng-click='chooseImageSource()' ui-view></button>

     <section class="card" id="tarjeta" >
        <div class = "row">
           <div class="col col-25 col-center" style="margin-left: -20px;"><div id="image"></div></div>
           <div class="col col-80">
           <div> 
            <b id="direccion"><b>
            </div>
            <div> 
            <b>Problema de </b><b id="categoria"><b>
          </div>
                <div class="row" id="botones">
                    <span id="me-afecta-contador" class="infobox-button-icon icon-acciones-me-afecta"></span>
                    <div id="indicadores"><div id="me_afecta"></div></div>
                    <span id="me-afecta-contador" class="infobox-button-icon icon-acciones-comentarios"></span>
                    <div id="indicadores"><div id="comentarios"></div></div>
                </div>
           </div>
           <div class = "col col-center">
           <button class='button button-clear' ng-click='goToReportDetail()' style="margin-left: -10px; position: absolute;">
             <i class="icon ion-ios-arrow-right dark"></i>
          </button>
           </div>
          </div>


<!--       <div class="row" style="margin-left: -10px;">
                         <div class="col col-33">
                           <div id="image"></div>
                         </div>
                         <div class="col" style="margin-left: 10px;">
                           <p>Direccion: <b id="direccion"><b> </p>
                            <p>Numero de Index: <b id="valor"><b> </p>
                            <p>Numero de Reporte: <b id="reporte_id"><b> </p>
                            <div class="row" id="botones"> 
                                    <span id="me-afecta-contador" class="infobox-button-icon icon-acciones-me-afecta"></span>
                                    <div>10</div>
                                    <span id="me-afecta-contador" class="infobox-button-icon icon-acciones-comentarios"></span>
                                    <div>10</div>
                            </div>
                            <i class="icon ion-ios-arrow-right dark"></i>
                        </div>
     </div> -->
    </section>
    
    </div>
  </ion-content>
</ion-view>