<ion-view view-title="Detalles">
	<ion-content>
    <ion-refresher pulling-text='Cargar información...' on-refresh='doRefresh()' spinner='ripple' pulling-icon='ion-ios-loop-strong'>
    </ion-refresher>
		<div class='new-report-image-preview report-details-report-image' style='background-image: url({{ $root.baseUrl + report.image_url }});'></div>
    <div class='button-bar report-details-button-bar'>
      <button class='button button-clear button-light report-details-button' ng-click="voteToggle()"><span class='{{ meAfectaClassName }} report-details-button-icon'></span><span class='report-details-button-label'>{{ meAfectaButtonText }}</span></button>
      <button class='button button-clear button-light report-details-button' ng-click="proposeCompleted()"><span class='{{ marcarResueltoClassName }} report-details-button-icon'></span><span class='report-details-button-label'>{{ marcarResueltoButtonText }}</span></button>
      <button class='button button-clear button-light report-details-button' ng-click="share()"><span class='icon-acciones-compartir report-details-button-icon'></span><span class='report-details-button-label'>Compartir</span></button>
    </div>
    <div class='padding'>
      <h1 class='report-details-category'>{{ report.get_report_category }}</h1>
      <p class='report-details-details'>publicado por <span class="report-details-user">{{ report.user_name }}</span> hace {{ report.get_oldness }}</p>
      <div class='row report-details-indicators-row'>
        <div class='col'>
          <div class="row row-center report-details-indicator">
            <div class="col col-33">
              <span class="report-details-ciudadanos-afectados-counter">{{ report.votes_conversion }}</span>
            </div>
            <div class="col col-66">
              ciudadanos afectados
            </div>
          </div>
        </div>
        <div class='col'>
          <div class="row row-center report-details-indicator">
            <div class="col col-33">
              <span class="report-details-comment-counter">{{ report.comments_conversion }}</span>
            </div>
            <div class="col col-66" style="white-space: nowrap;">
              comentarios
            </div>
          </div>
        </div>
      </div>
      <h5 class='report-details-other-details-heading'>Otros detalles:</h5>
      <p class='report-details-other-details-content'>{{ report.details }}</p>
      <h5 class='report-details-comments-heading'>Comentarios</h5>
    </div>
    <ion-list class='report-details-comment-list' can-swipe='true'>
      <ion-item class='item-avatar report-details-comment' ng-repeat='comment in comments'>
        <div class='report-details-user-avatar-div' style='background-image: url({{ comment.posting_user_avatar }});'></div>
        <h2>{{ comment.posting_user }}<small>Hace {{ comment.get_oldness }}</small></h2>
        <p>{{ comment.content }}</p>
        <ion-option-button class="report-details-comment-options-button" ng-click="flagComment(comment.id)">
          <span class='icon-comments-reportar'></span>
        </ion-option-button>
        <ion-option-button class="report-details-comment-options-button" ng-click="openReplyToModal(comment.posting_user_id, comment.posting_user)">
          <span class='icon-comments-replicar'></span>
        </ion-option-button>
        <ion-option-button class="report-details-comment-options-button" ng-click="likeToggle(comment)">
          <span class='icon-comments-like' ng-class="{ 'comment-liked':comment.liked_by_user }"></span>
        </ion-option-button>
      </ion-item>

    </ion-list>
         <div>
        <br><br><br><br>
      </div>


	</ion-content> 

     <ion-footer-bar class='bar-stable comment-bar item-input-inset'>
    <label class="item-input-wrapper">
      <input type="text" placeholder="Comenta algo..." ng-model="newComment.content" class='comment-box'>
    </label>
    <button class="button button-clear report-details-comment-button" ng-click="addComment(newComment)">
      Enviar
    </button>
  </ion-footer-bar>
</ion-view>
