<ion-view view-title="Regístrate" hide-nav-bar='false' class='splash-page'>
	<ion-header-bar class='bar-clear'>
    <ion-nav-back-button class="button-clear">
      <span class='icon icon-yc-back'></span>
    </ion-nav-back-button>
  </ion-header-bar>
	<ion-content>
		<div class="login-form">
			<div class="padding-left padding-right">
	      <button class="button button-block button-positive" ng-click="fbSignup()">
        	Registrarse con Facebook
      	</button>
      </div>
	  	<div class="card">
	    	<div class="list">
	    	<label class="item item-input">
	        	<input type="text" ng-model="form.name" placeholder="Nombre">
	        </label>
	    	<label class="item item-input">
	        	<input type="email" ng-model="form.email" placeholder="E-mail">
	        </label>
	      	<label class="item item-input">
	        	<input type="text" ng-model="form.username" placeholder="Nickname">
	        </label>
	        <label class="item item-input">
	        	<input type="password" ng-model="form.password" placeholder="Contraseña">
	        </label>
	        <label class="item item-input">
	        	<input type="password" ng-model="form.passwordConfirmation" placeholder="Confirmar contraseña">
	        </label>
	      </div>
	    </div>
	    <div class='card'>
	      <div class='list'>
	      	<div class='item item-divider'>Fecha de nacimiento</div>
	        <label class='item item-input item-select'>
	        	<div class='input-label'>
	        		Día
	        	</div>
	        	<select ng-model='form.day'>
	        		<option ng-repeat='day in days'>{{ day }}</option>
	        	</select>
	        </label>
	        <label class='item item-input item-select'>
	        	<div class='input-label'>
	        		Mes
	        	</div>
	        	<select ng-model='form.month'>
	        		<option ng-repeat='month in months'>{{ month }}</option>
	        	</select>
	        </label>
	        <label class='item item-input item-select'>
	        	<div class='input-label'>
	        		Año
	        	</div>
	        	<select ng-model='form.year'>
	        		<option ng-repeat='year in years'>{{ year }}</option>
	        	</select>
	        </label>
	      </div>
	    </div>

	    <div class='padding-left padding-right'>
	     <div class='signup-opt'>
	    			</span>Opcional:</span></div><br>
	    		</div>
		    <div class='button-bar'>
		    	<a class='button' ng-class='{ "active": form.genderBool }' ng-click="form.genderBool = true; form.genderBoolfemenina = false">Masculino</a>
		    	<a class='button' ng-class='{ "active": form.genderBoolfemenina }' ng-click="form.genderBoolfemenina = true; form.genderBool = false">Femenino</a>
		    </div>
		  </div>

	    <div class='signup-opt' ng-click='openTermsModal()'>
	    	Acepto los <span class='energized'>términos y condiciones de uso</span>
	    </div>

	    <div class="padding-left padding-right">
	      <button class="button button-block button-energized" ng-click="signup(form)">
	        Enviar
	      </button>
	    </div>
	  </div>
	</ion-content>
</ion-view>