<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>

  <!--TABS-->
  <ion-tabs class="tabs-icon-top" keyboard-handler>
   <div class="hide-on-keyboard-open">
  <!-- Map Tab -->
  <ion-tab title="Ciudad" icon-off="icon-tab-ciudad" icon-on="icon-tab-ciudad" href="#/tab/map" class='tab-ciudad'>
    <ion-nav-view name="tab-map"></ion-nav-view>
  </ion-tab>
   <!-- comentario para 0.0.1 -->                                                   
   <!-- Activity Tab -->
  <ion-tab title="Mi Actividad" icon-off="icon-tab-mi-actividad" icon-on="icon-tab-mi-actividad"  badge= "data.badgeCount" badge-style="badge-assertive" href="#/tab/activity" class='tab-mi-actividad'>
    <ion-nav-view name="tab-activity"></ion-nav-view>
  </ion-tab>
   <!-- Contacts Tab -->
  <ion-tab title="Directorio" icon-off="icon-tab-directorio" icon-on="icon-tab-directorio" href="#/tab/contacts" class='tab-directorio'>
    <ion-nav-view name="tab-contacts"></ion-nav-view>
  </ion-tab>

   <!-- YCTV Tab -->
  <ion-tab title="TV" icon-off="icon-tab-yctv" icon-on="icon-tab-yctv" href="#/tab/yctv" class='tab-yctv hide-on-keyboard-open'>
    <ion-nav-view name="tab-yctv"></ion-nav-view>
  </ion-tab>

   <!-- Profile Tab -->
  <ion-tab title="Yo" icon-off="icon-tab-yo" icon-on="icon-tab-yo" href="#/tab/profile" class='tab-yo hide-on-keyboard-open'>
    <ion-nav-view name="tab-profile"></ion-nav-view>
  </ion-tab>
  </div>
</ion-tabs>

</ion-side-menu-content>

<!-- Side Menu (Left) --> 

<ion-side-menu side="left">
  <ion-header-bar id="barra-estable" class="bar-stable">
    <h1 class="titulo" style="margin-top: 7px;"> Filtrar Reportes </h1>
  </ion-header-bar>
  <ion-content id="menu-lateral">
    <ion-list ng-controller="MapCtrl">
    <!--SECCION MIS REPORTES menu-close -->
    <div id="mis">
      <!-- <ion-item  id="list-toggle" class="item-avatar-left item-icon-right activity-item item" ng-click="cambiaColor('#mis>ion-item','no-avatar')" style="margin-left: -50px;">     -->
      <ion-item menu-close id="list-toggle" class="item-avatar-left item-icon-right activity-item item" ng-click="cambiaColor('#mis>ion-item','no-avatar',1)" style="margin-left: -50px;">    
              <p style="/* font-size: 10px; */m;/* margin: 0; */margin-left: -15px;margin-top: -10px;/* overflow-y: auto; */" class="ng-binding"><span id="toggle-type">Mis Reportes</span></p>
              <i id="flecha" class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </div> 
    <!--SECCION TODOS LOS REPORTES -->
    <div id="todos">
      <ion-item menu-close id="list-toggle" class="item-avatar-left item-icon-right activity-item item" ng-click="cambiaColor('#todos>ion-item','no-avatar', 2)" style="margin-left: -50px;">     
              
      <!-- <ion-item menu-close id="list-toggle" class="item-avatar-left item-icon-right activity-item item" ng-click="coso()" style="margin-left: -50px;">     -->
            <p style="/* font-size: 10px; */m;/* margin: 0; */margin-left: -15px;margin-top: -10px;/* overflow-y: auto; */" class="ng-binding"><span id="toggle-type">Todos los reportes</span></p>
              <i id="flecha" class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </div> 
    <!--SECCION ALUMBRADO -->
    <div id="luz">
      <ion-item menu-close id="list-toggle" class="item-avatar-left item-icon-right activity-item item" ng-click="cambiaColor('#luz>ion-item','alumbrado_', 3)">
                  <div id="alumbrado_"></div>
                  <p style="/* font-size: 10px; */m;/* margin: 0; */margin-left: -20px;margin-top: -10px;/* overflow-y: auto; */" class="ng-binding"><span id="toggle-type">Sólo Alumbrado</span></p>
                  <i id="flecha" class="icon ion-ios-arrow-right"></i>  
      </ion-item>
    </div>
    <!--SECCION LIMPIA -->
    <div id="limpio">   
      <ion-item menu-close id="list-toggle" class="item-avatar-left item-icon-right activity-item item" ng-click="cambiaColor('#limpio>ion-item','limpia_', 4)">              
              <div id="limpia_"></div>
              <p style="/* font-size: 10px; */m;/* margin: 0; */margin-left: -20px;margin-top: -10px;/* overflow-y: auto; */" class="ng-binding"><span id="toggle-type">Sólo Limpia</span></p>
              <i id="flecha" class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </div> 
        <!--SECCION PARQUE -->
    <div id="park"> 
      <ion-item menu-close id="list-toggle" class="item-avatar-left item-icon-right activity-item item" ng-click="cambiaColor('#park>ion-item','parques_', 5)">          
              <div id="parques_"></div>
              <p style="/* font-size: 10px; */m;/* margin: 0; */margin-left: -20px;margin-top: -10px;/* overflow-y: auto; */" class="ng-binding"><span id="toggle-type">Sólo Parques</span></p>
              <i id="flecha" class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </div>
     <!--SECCION PAVIMENTO -->
     <div id="pav"> 
      <ion-item menu-close id="list-toggle" class="item-avatar-left item-icon-right activity-item item" ng-click="cambiaColor('#pav>ion-item','pavimento_', 6)">         
              <div id="pavimento_"></div>
              <p style="/* font-size: 10px; */m;/* margin: 0; */margin-left: -20px;margin-top: -10px;/* overflow-y: auto; */" class="ng-binding"><span id="toggle-type">Sólo Pavimento</span></p>
              <i id="flecha" class="icon ion-ios-arrow-right"></i>
      </ion-item>
      </div>
    <!--SECCION ACCESIBILIDAD -->
      <div id="access"> 
            <ion-item id="list-toggle" class="item-avatar-left item-icon-right activity-item item" ng-click="cambiaColor('#access>ion-item','accecibilidad_')">     
              <div id="accecibilidad_"></div>
              <p style="/* font-size: 10px; */m;/* margin: 0; */margin-left: -20px;margin-top: -10px;/* overflow-y: auto; */" class="ng-binding"><span id="toggle-type">Sólo Accesibilidad</span></p>
              <i id="flecha" class="icon ion-ios-arrow-right"></i>
      </ion-item>
      </div>
     </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>

