<ion-modal-view>
	<ion-header-bar class='bar-stable'>
		<button class='button button-clear' ng-click='closeTermsModal()'><i class='icon ion-ios-close-empty'></i></button>
		<h1 class='title'>Términos y condiciones de uso</h1>
	</ion-header-bar>
	<ion-content>
		<div class='padding'>

			<h2>AVISO LEGAL<br></h2>
YoCiudadano informa a los usuarios que esta aplicación es gestionada por Plan Estratégico de Juárez, A.C.<br><br>

La información y los contenidos que se proporcionan en esta sede electrónica son responsabilidad de sus usuarios y son enviados a diversas instancias gubernamentales.<br><br>

Se informa que <a href="https://www.yociudadano.com.mx">www.yocidadano.com.mx</a> es un nombre de dominio cuyo titular es Plan Estratégico de Juárez, A.C., quienes, a través de su sede proporciona servicios, actividades y actuaciones dentro de su ámbito de actuación relacionados con servicios de la sociedad de la información. Los datos de la entidad encargada son los siguientes:<br><br>
	<b>•	 Nombre: </b> Plan Estratégico de Juárez, A.C.<br>
	<b>•	Dirección:</b> 20 de noviembre 4305. Colonia el Colegio. Ciudad Juárez, Chihuahua.<br>
	<b>•	Teléfono:</b> 656 625 0640<br>
	<b>•	Email: </b><a href="mailto:contacto@planjuarez.org">contacto@planjuarez.org</a><br><br>
Este Aviso Legal regula las condiciones de uso de <a href="https://www.yociudadano.com.mx">www.yocidadano.com.mx</a>. Toda persona que acceda a la misma asume el papel de usuario, comprometiéndose a la observancia y cumplimiento de las disposiciones incluidas en ella así como su correcta utilización de conformidad con la legislación aplicable, respondiendo de los perjuicios que pudiera ocasionar el incumplimiento de esta obligación. El tratamiento de los datos de carácter personal que se realice a través de esta sede electrónica se sujetará a lo establecido por la Ley Federal de Protección de Datos Personales en Posesión de los Particulares, tal como se presentó en la publicación en el Diario Oficial de la Federación (DOF) el lunes 5 de julio de 2010.<br><br>

<h4>1.PROPIEDAD INTELECTUAL E INDUSTRIAL<br><br></h4>
El código de programación de YoCiudadano y su sede electrónica y los materiales gráficos que la acompañan está protegido bajo la licencia Creative Commons de CompartirIgual 4.0 Internacional.
<br><br>
Esto quiere decir que usted es libre de compartir, copiar y redistribuir el material en cualquier medio, adaptar, remezclar, transformar y crear a partir del material para cualquier propósito bajo los siguientes términos:
<br><br>
Si usted mezcla, transforma o crea nuevo material a partir de esta obra, usted podrá distribuir su contribución siempre que utilice la misma licencia que la obra original.
<br><br>
Las marcas YoCiudadano, Plan Estratégico de Juárez y sus respectivos logotipos, son propiedad de Plan Estratégico de Juárez, A.C., se prohibe su reproducción sin autorización expresa de la organización propietaria. Los diseños, logotipos, texto y/o gráficos ajenos a Plan Estratégico de Juárez que pudieran aparecer en la misma pertenecen a sus respectivos propietarios, siendo ellos responsables de cualquier posible controversia que pudiera suscitarse respecto a los mismos.
<br><br>

<h4>2.CONDICIONES DE USO<br></h4>
<b>2.1 CONDICIONES GENERALES<br><br></b>
El acceso a la sede electrónica de YoCiudadano así como el uso que pueda hacerse de la información que se contiene en la misma, son de la exclusiva responsabilidad del usuario. El(la) usuario se obliga a acceder a la sede electrónica y a usar sus contenidos de forma diligente, correcta y lícita y, en particular, se compromete a hacer uso de las informaciones y/o servicios ofrecidos de conformidad con la normativa vigente en cada momento. Plan Estratégico de Juárez no se hará responsable en ningún caso del uso que los usuarios y/o terceros pudieran hacer de su sede electrónica o de sus contenidos, ni de los daños y perjuicios que pudieran derivarse del mismo, incluidos daños informáticos o virus. </br>
Plan Estratégico de Juárez queda excluido de toda responsabilidad por cualquier daño o perjuicio en el software o hardware del usuario que pudiera derivarse del acceso a esta sede electrónica, así como de su uso, transmisión, difusión, almacenamiento de información o aplicaciones contenidas en la misma. 
</br>Plan Estratégico de Juárez podrá efectuar, en cualquier momento y sin necesidad de previo aviso, las modificaciones y actualizaciones necesarias sobre la información contenida en su sede electrónica. El funcionamiento de la plataforma YoCiudadano está en constante observación y mantenimiento.</br>
No obstante, no se descarta la posibilidad de que existan ciertos errores de programación o acontezcan causas de fuerza mayor, catástrofes naturales o circunstancias semejantes que hagan imposible, en un momento dado, el acceso a su sede electrónica. Plan Estratégico de Juárez desarrollará los esfuerzos precisos para evitar errores y, en su caso, repararlos o actualizarlos lo antes posible, excluyendo toda responsabilidad por los daños y perjuicios causados por las interrupciones o fallos temporales en el acceso a la misma.
<br><br><b>
2.2 CONDICIONES ESPECÍFICAS PARA LA UTILIZACIÓN DE LA PLATAFORMA YOCIUDADANO<br>
2.2.1 CONDICIONES APLICABLES<br></b>
El uso de YoCiudadano está sujeto a las condiciones de uso y a la política de privacidad de Plan Estratégico de Juárez, además de a las siguientes condiciones específicas, cuyo objetivo es garantizar que los ciudadanos y ciudadanas puedan enviar sus comentarios, aportaciones y propuestas, así como hacer uso de los canales participativos que ofrece la plataforma y/o aplicación, realizándose todo ello dentro de un marco de respeto y legalidad.
<br><br><b>
2.2.2 FINALIDAD<br></b>
El usuario se compromete a hacer un uso de la plataforma adecuado con su finalidad participativa y a no emplearlo para incurrir en actividades ilícitas; que vulneren o transgredan el buen comportamiento cívico, la intimidad personal o familiar o la imagen de las personas; o que supongan actos de competencia desleal o publicidad ilícita.
<br><br><b>
2.2.3 RESPONSABILIDAD SOBRE LOS CONTENIDOS APORTADOS<br></b>
El Usuario es el único responsable de los contenidos, comentarios y ficheros que pueda poner a disposición a través de la plataforma. Plan Estratégico de Juárez, A.C. excluye toda responsabilidad por los daños y perjuicios de cualquier naturaleza que puedan derivar de los contenidos aportados por los usuarios, así como por las opiniones vertidas por los mismos.
<br><br>
El usuario adquiere una obligación de veracidad sobre los contenidos que aporte a la plataforma, por la que se compromete a no incurrir en falta de veracidad, exactitud, exhaustividad, pertinencia y/o actualidad de los contenidos.<br>
El usuario se obliga a no publicar (o subir) ningún archivo que esté sujeto a derechos de propiedad intelectual o industrial de terceros, salvo que el titular de dichos derechos le haya otorgado una licencia o autorización formal.<br>
<br><br>
<b>
2.2.4 MODERACIÓN DE LOS CONTENIDOS<br></b>
La plataforma dispone de un sistema de moderación de comentarios, aportaciones y propuestas cuya finalidad es evitar la publicación de contenidos que infrinjan las presentes Condiciones o cualquier otra regulación que resulte aplicable. El usuario acepta que los contenidos aportados sean supervisados por Plan Estratégico de Juárez y, en su caso, retirados de la plataforma. En caso de disconformidad, el usuario podrá dirigirse al la organización por medio de los mecanismos disponibles en la plataforma, o por cualquier otro que legalmente resulte adecuado.
<br><br>
Las aportaciones que, por parte de Plan Estratégico de Juárez, A.C., se considere que no entran en la categoría de comentario, aportaciones o propuestas, serán derivadas al servicio de Atención al usuario para su oportuna tramitación y/o resolución.
<br><br><b>
2.2.5 COMUNICACIONES CON LOS USUARIOS<br></b>
El Usuario acepta expresamente que la dirección de correo electrónico que, en su caso, haya aportado para las comunicaciones con Plan Estratégico de Juárez, A.C. es correcta y veraz, y que las comunicaciones dirigidas a la misma se considerarán eficaces a todos los efectos.
<br><br><b>
2.3 CONDICIONES GENERALES PARA LA MOVILIDAD GENERAL DE PUESTA A DISPOSICIÓN DE LOS DOCUMENTOS REUTILIZABLES DE PLAN ESTRATÉGICO DE JUÁREZ
<br></b><b>
2.3.1 OBLIGATORIEDAD DE LAS CONDICIONES GENERALES<br></b>
Las presentes condiciones generales, disponibles con carácter permanente bajo Aviso Legal, obligan a cualquier agente reutilizador por el mero hecho de hacer uso de los documentos sometidos a ellas.
<br><br><b>
2.3.2 AUTORIZACIÓN DE REUTILIZACIÓN Y CESIÓN NO EXCLUSIVA DE DERECHOS DE PROPIEDAD INTELECTUAL</b><br>
Las presentes condiciones generales permiten la reutilización de los documentos sometidos a ellas para fines comerciales y no comerciales. Se entiende por reutilización el uso de documentos que obran en poder de Plan Estratégico de Juárez y de los demás organismos y entidades incluidos en el ámbito subjetivo de la Ordenanza de Administración Electrónica por su artículo 2, por personas físicas o jurídicas, con fines comerciales o no comerciales, siempre que dicho uso no constituya una actividad administrativa pública. Por ejemplo, la reutilización autorizada incluye actividades como la copia, difusión, modificación, adaptación, extracción, reordenación y combinación de la información.
<br><br>
Se entiende por documento electrónico, cualquier representación de texto, imagen, sonido o video, o las combinaciones de todos o alguno de estos elementos, que haya sido codificada mediante el empleo de un programa de tratamiento de la información y resulte legible gracias al mismo programa usado para su generación u otro equivalente, siendo susceptible de tratamiento individualizado. Además, a los efectos de estas condiciones generales se incluyen expresamente las bases y colecciones de datos.
<br><br>
La reutilización conlleva la cesión gratuita y no exclusiva de los derechos de propiedad intelectual, en su caso, correspondientes a tales documentos, autorizándose la realización de actividades de reproducción, distribución, comunicación pública o transformación, que sean necesarias para desarrollar la actividad de reutilización autorizada, en cualquier modalidad y bajo cualquier formato, para todo el mundo.
<br><br><b>
2.3.3 CONDICIONES GENERALES PARA LA REUTILIZACIÓN<br></b>
Se aplican las siguientes condiciones generales para la reutilización de los documentos:<br>
	1.  Está prohibido desnaturalizar el sentido de la información.<br>
	2.  No se podrá indicar, insinuar o sugerir que Plan Estratégico de Juárez, A.C. participa, patrocina o apoya la reutilización que se lleve a cabo con la información.<br>
<br><br><b>
2.3.4 EXCLUSIÓN DE RESPONSABILIDAD<br></b>
La utilización de los conjuntos de datos se realizará por parte de los usuarios o agentes de la reutilización bajo su propia cuenta y riesgo, correspondiéndoles en exclusiva a ellos responder frente a terceros por daños que pudieran derivarse de ella.
<br><br>
Plan Estratégico de Juárez, A.C. no será responsable del uso que de su información hagan los agentes reutilizadores ni tampoco de los daños sufridos o pérdidas económicas que, de forma directa o indirecta, produzcan o puedan producir perjuicios económicos, materiales o sobre datos, provocados por el uso de la información reutilizada.
<br><br>
Plan Estratégico de Juárez, A.C. no garantiza la continuidad en la puesta a disposición de los documentos reutilizables, ni en contenido ni en forma, ni asume responsabilidades por cualquier error u omisión contenido en ellos.
<br><br><h4>
3.ENLACES<br></h4>
Los enlaces contenidos en la sede electrónica YoCiudadano de Plan Estratégico de Juárez, A.C. pueden dirigir a páginas web de terceros sobre las que Plan Estratégico de Juárez no ejerce ningún control, por lo que no asume ninguna responsabilidad por el contenido, informaciones o servicios que pudieran aparecer en dichos sitios y en consecuencia no será en ningún caso responsable de los daños y perjuicios que pudieran derivarse.
<br><br><h4>
4.LEY APLICABLE Y JURISDICCIÓN<br></h4>
Para la resolución de todas las controversias o cuestiones relacionadas con la presente sede electrónica o de las actividades en ella desarrolladas, será de aplicación la legislación vigente, a la que se someten expresamente las partes, siendo competentes para la resolución de todos los conflictos derivados o relacionados con su uso los Juzgados que la ley así disponga.
 <br><br>
 <h4>
Oficina de YoCiudadano<br>
Av. 20 de noviembre 4305, Col. El Colegio. Ciudad Juárez, Chih. C.P. 32310<br>
Tel: 656 625 0640<br></h4>
		</div>
	</ion-content>
</ion-modal-view>