AQUI NO HAY NADA QUE VER
<style>
  body, html {
            height: 100% ;
            background-color: transparent;
        }
        body {
            color: #333;
            text-align: center;
            font-family: sans-serif;
            background-color: transparent;
        }

  .pane {
    background-color: transparent;
}

</style>
<body>
  <div class="controls">
<!--     <div class="block">
        <button id="startCameraButton">Start Camera at back</button>
        <button id="stopCameraButton">Stop Camera</button>
    </div>
    <div class="block">
        <p>
            <button id="startCameraAnotherPosButton">Start Camera at front</button>
        </p>
        <p>Color Effect:
            <select id="colorEffectCombo">
                <option selected value="none">none</option>
                <option value="aqua">aqua</option>
                <option value="blackboard">blackboard</option>
                <option value="mono">mono</option>
                <option value="negative">negative</option>
                <option value="posterize">posterize</option>
                <option value="sepia">sepia</option>
                <option value="solarize">solarize</option>
                <option value="whiteboard">whiteboard</option>
            </select>
        </p>
    </div> -->
</div>
<div class="block"></div>
<div class="pictures">
    <p>
    <img data-ng-src="{{image}}" />
     <img id="originalPicture" width="200" />
    </p>
</div>
</body>
<ion-footer-bar align-title="left" class="bar-assertive bar bar-footer" style="
    height: 10%;
">
  <div class="buttons">
    <button ng-click="prendesCamara()" class="button" id="takePictureButton">Prender</button>
  </div>
  <h1 class="title">Title!</h1>
  <div class="buttons">
    <button class="button" ng-click="capturaCamara()" id="takePictureButton">Captura</button>
  </div>
  <div class="buttons">
    <button class="button" ng-click="apagasCamara()" id="takePictureButton">Apagar</button>
  </div>
</ion-footer-bar>