#googleMap,
.angular-google-map,
.angular-google-map-container {
    width: 100%;
    height: 100%;
    display: block;
}

.tc-hide {
    visibility: none;
}

.tc-show {
    visibility: visible !important;
}

.map-pin-center {
  position: absolute;
  z-index: 1;
  height: 50px;
  top: 50%;
  left: 50%;
  margin-top: -42px;
  margin-left: -10px;
  pointer-events: none;
}

html{
  height: 100%;
}
body{
  height: 100%;
  padding: 0;
  margin: 0;
}
#map-canvas {
  height: 100%;
}
