/* Empty. Add your own CSS if you like */

/* Alerts */
.popup-body {
  overflow: hidden;
}

/* All back buttonicons */
.bar .button.button-clear .icon:before, .bar .button.button-clear.icon:before, .bar .button.button-clear.icon-left:before, .bar .button.button-clear.icon-right:before i.icon-yc-back {
  font-size: 25px;
  font-weight: lighter;
}

/* Transparent nav */
.bar-clear {
    background: none;
    color: #fff;
}

.bar-clear button.button, .bar-clear .button.button-clear i, .bar-clear .button.button-clear.back-button-yc {
    color: #fff;
    padding-top: 1px;
    font-size: 25px;
    font-family: 'source_sans_prosemibold';
}

.bar-clear .ion-ios7-arrow-back:before {
    display: none;
}

.bar-energized .title.title-center.header-item {
  font-family: 'source_sans_prosemibold';
  font-size: 20px;
}

.bar-energized button.button.button-clear {
  font-family: 'source_sans_proregular';
  font-size: 15px;
}

.login-form {
  padding-left: 30px;
  padding-right: 30px;
}

/* Splash page stylings */
.splash-page {
  background:url(../img/splash-bkg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.splash-page .card {
  margin-top:40px;
}

.splash-page .logo h1 {
  margin-top:30px;
  text-align:center;
  color:#fff !important;
  font-family: Verdana, Geneva, sans-serif;
  font-weight:bold;
  letter-spacing: -3px;
  font-size:42px;
}

.splash-page img {
  width: 80%;
}

.splash-page .signup-opt {
  text-align: center;
  color:#fff;
  padding:2px;
  margin-top:5px;
  cursor:pointer;
}

#recoverpasswordinput {
  border-radius: 5px;
  padding-left: 5px;
  border: 1px solid #eee;
  box-shadow: none;
  -webkit-appearance: none;
  -webkit-border-radius: 5px;
}

/* Map tab settings */
#map-container {
  height: 100%;
}

#map-data-tap-disabled-container {
    height: 100%;
    z-index: 1000;   
}

.button-on-map {
  min-width: 50px;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  font-size: 25px;
}

.button-on-map-new-report {
  position: fixed;
  top: 55px;
  right: 5px;
  z-index: 1001;
  border: none;

  /* border: none; */
  background-color: rgba(252,177,56,.9);
  color: #fff;
}

.button-on-map-mini-map{
  background-color: rgba(252,177,56,.9);
  color: #fff;
}


.button-on-map-center-on-me {
  position: fixed;
  top: 65px;
  right: 9px;
  z-index: 1001;

  /* border: none; */
  min-width: 42px;
  min-height: 42px;
  width: 42px;
  height: 42px;
  padding-left: 10px;
  border: 1px solid #cdcccc;
  
  
  background-color: #f2f4f6;
  color: #f89838;
}

.button-on-map-center-on-me span.icon {

}

.button-on-map-toggle-side-menu {
position: fixed;
  top: 440px;
  right: 9px;
  z-index: 1001;

  /* border: none; */
  min-width: 42px;
  min-height: 42px;
  width: 42px;
  height: 42px;
  padding-left: 10px;
  border: 1px solid #cdcccc;
  
  
  background-color: #f2f4f6;
  color: #f89838;
}

.infobox-row h1 {
  color: #be3933;
  font-size: 18px;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 1px;
}

.infobox-row p {
  text-align: center;
  color: #989898;
  font-size: 11px;
  margin-bottom: 2px;
}

#main-map-infobox {
    // display: none;
}

.infobox-wrapper {
    overflow: hidden;
    width: 220px;
    height: 169px;
}

.infobox-inner {
    position: absolute;
    background-color: rgba(242,244,246,1);
    border: solid 1px #cdcccc;
    border: none;
    width: 285px;
    left: -5px;
    top: -5px;
    font-family: 'source_sans_proregular';
}

.infobox-inner h1 {
  font-family: 'source_sans_proregular';
  font-size: 22px;
}

.infobox-inner p {
  font-family: 'source_sans_prolight';
  font-size: 15px;
}

.infobox-inner:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 15px 15px 0;
  border-color: #f2f4f6 transparent;
  display: block;
  width: 0;
  z-index: 1;
  bottom: -15px;
  left: 132px;
}

/* .infobox:after, .infobox:before { top: 100%; left: 28%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; } .infobox:after { border-color: rgba(242, 244, 246, 0); border-top-color: #f2f4f6; border-width: 15px; margin-left: -15px; } .infobox:before { border-color: rgba(205, 204, 204, 0); border-top-color: #cdcccc; border-width: 17px; margin-left: -17px; } */

.infobox-report-user {
    color: #f89839;
}

.infobox-row {
    margin: 0px;
    padding: 0px 10px;
}

.infobox-status-row {
    background-color: #fff;
    margin-bottom: 10px;
    height: 40px;
    line-height: 14px;
    font-size: 11px;
    padding-bottom: 0px;
    color: #989898;
}

.infobox-ciudadanos-afectados-counter {
    color: #be3933;
    font-size: 17px;
}

.infobox-comentarios-counter {
    color: #f89839;
    font-size: 17px;
}

.infobox-image {
    height: 90px;
    max-height: 85px;
    margin-top: -10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 8px;
    border: 1px solid #cdcccc;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.main-map-info-box .row .col {
    padding: 0px;
}

.infobox-inner .button-bar {
    margin-top: -10px;
    margin-bottom: 5px;
}

.infobox-button {
    white-space: normal;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 10px;
    line-height: 14px;
}

.infobox-button-icon {
    display: block;
    padding-left: 8px;
    height: 28px;
    font-size: 23px;
    color: #676767;
}

.infobox-button-icon.icon-acciones-me-afecta {
    color: #be3933;
}

.infobox-button-icon.icon-acciones-no-afecta {
    color: #be3933;
}

.infobox-button-icon.icon-acciones-completo {
    color: #8BC53F;
}

.infobox-button-icon.icon-acciones-compartir {
    color: #FCB138;
}

.infobox-button-icon.icon-resuelto {
    color: #8BC53F;
}

.infobox-button-icon.icon-acciones-resuelto {
    color: #8BC53F;
}



.infobox-button-label {
    color: #989898;
}

/* Report detail settings */
.report-details-button-bar {
    margin-top: -65px;
    background-color: rgba(0,0,0,.45);
    height: 65px;
    padding-top: 0px;
    padding-bottom: 0px;
}

button.button.button-clear.report-details-button {
    white-space: normal;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
    line-height: 15px;
    min-height: 65px;
    padding-top: 3px;
}

button.button.button-clear.report-details-button + button.button.button-clear.report-details-button {
    border-left: 1px solid rgba(255,255,255,.2);
}

.report-details-button-label {
    color: #fff;
    font-family: 'source_sans_prolight';
    font-size: 14px;
}

.report-details-button-icon {
    display: block;
    margin: 0 auto;
    height: 30px;
    font-size: 23px;
    color: #fff;
}

.report-details-report-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 215px;
}

.report-details-category {
    color: #be3933;
    font-size: 22px;
    margin-bottom: 0px;
}

.report-details-details {
    font-size: 11px;
    color: #818181;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.report-details-user {
    color: #f89839;
}

.report-details-indicators-row {
    padding: 0px;
}

.report-details-indicator {
    background-color: #f2f4f6;
    height: 50px;
    line-height: 1;
}

.report-details-ciudadanos-afectados-counter {
    color: #be3933;
    font-size: 24px;
    white-space: nowrap;
}

.report-details-comment-counter {
    color: #f89839;
    font-size: 24px;
    white-space: nowrap;
}

h5.report-details-other-details-heading {
    font-family: 'source_sans_probold';
    margin-bottom: 0px;
}

.report-details-other-details-content {
    font-size: 14px;
    padding-left: 10px;
}

h5.report-details-comments-heading {
  font-family: 'source_sans_prolight';
  font-size: 18px;
  color: #676767;
  padding-top: 10px;
  border-top: 1px solid #ddd;
  margin-right: -10px;
}

.report-details-comment-list div.list:last-child {
    /* padding-bottom: 44px; */
}

.report-details-comment-list .item {
    background: #be3933; /* Old browsers */
    background: -moz-linear-gradient(left,  #be3933 30%, #fcb138 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(50%,#be3933), color-stop(100%,#fcb138)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #be3933 30%,#fcb138 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #be3933 30%,#fcb138 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #be3933 30%,#fcb138 100%); /* IE10+ */
    background: linear-gradient(to right,  #be3933 30%,#fcb138 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#be3933', endColorstr='#fcb138',GradientType=1 ); /* IE6-9 */
}

.report-details-comment-list .item ion-option-button.button.report-details-comment-options-button {
    background: none;
    color: #fff;
    font-size: 30px;
    width: 80px;
    height: 100%;
    display: table;
    vertical-align: middle;
    float: left;
}

.report-details-comment-list .item ion-option-button.button.report-details-comment-options-button span {
    display: table-cell;
    vertical-align: middle;
}

.report-details-comment h2 {
    font-size: 14px;
    font-weight: bold;
}

.report-details-comment small {
    font-size: 11px;
    color: #818181;
    margin-left: 3px;
}

.report-details-comment p {
    color: #676767;
    font-size: 14px;
    text-overflow: initial;
    white-space: normal;
}

.item-avatar.report-details-comment img.report-details-user-avatar {
    width: 55px;
    height: 55px;
    max-width: 80px;
    max-height: 80px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    margin-top: -5px;
}

.item-avatar.report-details-comment div.report-details-user-avatar-div {
    width: 55px;
    height: 55px;
    max-width: 80px;
    max-height: 80px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    margin-top: -5px;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 16px;
    left: 16px;
}

.item-avatar.report-details-comment p, .item-avatar.report-details-comment h2 {
    margin-left: 10px;
}

.comment-bar.bar.bar-footer.bar-stable {
    border-color: #eee;
    position: fixed;
    bottom: 50px;
    z-index: 1001;
}

.comment-bar label.item-input-wrapper {
  background-color: #fff;
  border: 1px solid #eee;
}



button.button.button-clear.report-details-comment-button {
    color: #f89839;
}

.comment-liked {
    color: #be3933;
}

.reply-to-comment-box {
    resize: none;
    height: 200px;
}

/* Activity page settings */
.activity-item {
  padding-left: 80px;
}

.item-avatar-left.activity-item img.activity-item-avatar {
    display: none;
}

.item-avatar-left.activity-item div.activity-item-avatar-div {
    width: 60px;
    height: 60px;
    max-width: 80px;
    max-height: 80px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    margin-top: -5px;
    margin-left: -10px;
    background-size: cover;
    background-position: center;
    left: 20px;
    position: absolute;
    top: 16px;
}

.item-avatar-left.activity-item.activity-item-green {
    background-color: #8BC53F;
    border: none;
}

.item-avatar-left.activity-item.activity-item-green i {
    color: #f2f4f6;
}

.item-avatar-left.activity-item.activity-item-green p {
    color: #f2f4f6;
}

.item-avatar-left.activity-item.activity-item-green p .activity-item-username{
    color: #fff;
}

.item-avatar-left.activity-item.activity-item-orange {
    background-color: #fcb138;
    border: none;
}

.item-avatar-left.activity-item.activity-item-orange i {
    color: #f2f4f6;
}

.item-avatar-left.activity-item.activity-item-orange p {
    color: #f2f4f6;
}

.item-avatar-left.activity-item.activity-item-orange p .activity-item-username {
    color: #fff;
}

.item-avatar-left.activity-item.activity-item-unread {
    background-color: #f2f4f6;
    padding-left: 80px;
}

.item-avatar-left.activity-item .activity-item-username {
    font-weight: bold;
    color: #000;
    font-size: 14px;
}

.item-avatar-left.activity-item .icon.ion-ios7-arrow-right {
    color: #cdcccc;
}


/* Profile page settings */
.profile-background {
    background: url(../img/splash-bkg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.profile-user-details {
  color: #818181;
}

.profile-user-information {
    height: 300px;
    /* background: rgba(242,244,246,0.7); */
    background: rgba(255,255,255,0.75);
}

h1.profile-user-name {
    font-family: 'source_sans_prolight';
    margin-top: 10px;
    font-size: 22px;
    margin-bottom: -2px;
    color: #676767;
}

.profile-user-user_name {
    font-family: 'source_sans_probold';
    font-size: 14px;
    color: #000;
}

.profile-user-picture {
    width: 180px;
    height: 180px;
    background-size: cover;
    display: block;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    margin: auto;
}

.profile-user-statistics {
    text-align: center;
    height: 60px;
    border-top: 1px solid #cdcccc;
    background-color: #f2f4f6;
    color: #989898;
    padding: 0;
}

.profile-user-statistics-item {
    line-height: 10px;
    height: 100%;
    padding-top: 8px;
}

.profile-user-statistics-item + .profile-user-statistics-item {
    border-left: 1px solid #cdcccc;
}

.profile-user-statistics-item {
  font-size: 14px;
}

.profile-user-statistics-item h3 {
    margin: 0;
    padding: 0;
    margin-top: -3px;
    font-family: 'source_sans_prolight';
    font-size: 29px;
}

.profile-user-statistics-item h3.profile-user-reports-counter {
    color: #8BC53F;
}

.profile-user-statistics-item h3.profile-user-comments-counter {
    color: #f89839;
}

.profile-user-statistics-item h3.profile-user-level-bronze {
    color: #CD7F32;
    font-size: 20px;
    line-height: 1.7;
}

.profile-user-statistics-item h3.profile-user-level-silver {
    color: #BDC5C6;
    font-size: 20px;
    line-height: 1.7;
}

.profile-user-statistics-item h3.profile-user-level-gold {
    color: #FCB138;
    font-size: 20px;
    line-height: 1.7;
}

.about-img {
  width: 70%;
  margin-bottom: 20px;
}

.about-text {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 1.7;
  padding: 15px;
  text-align: center;
}

/* New report view configuration */
.new-report-image-preview {
    height: 220px;
    min-height: 220px;
    max-height: 220px;
}

.new-report-image-preview-modal {
    background-color: #000;
}

.new-report-image {

}

.keyboard-open label.tabs{
  display:none;
  }
.keyboard-open label.has-tabs{
 bottom:0;
 }


.tabs-middle {
    position: relative;
    border-top: 1px solid #cdcccc;
    border-bottom: 1px solid #cdcccc;
    margin-bottom: 30px;
    height: 70px;
}

.tabs-middle .tab-item {
    margin-top: -1px;
    height: 70px;
    padding-top: 10px;
    border-top: 1px solid #cdcccc;
    border-bottom: 1px solid #cdcccc;
    border-right: 1px solid #cdcccc;
    border-left: 1px solid #cdcccc;
    color: #000;
    font-size: 13px !important;
}

.tabs-middle .tab-item i.icon {
  margin-bottom: 6px;
}

.tabs-middle .tab-item.tab-item-active, .tabs-middle .tab-item.active, .tabs-middle .tab-item.activated {
    color: #fff;
    height: 100%;
    margin-top: 0px;
    border: none;
    border-top: 2px solid rgb(222, 134, 38);
}

.tabs-middle .tab-item.tab-item-active i.icon, .tabs-middle .tab-item.active i.icon, .tabs-middle .tab-item.activated i.icon {
  margin-top: -2px;
}

.report-mini-map {
    height: 220px;
}

.new-report-comment-box {
    resize: none;
    height: 150px;
}

@font-face {
    font-family: 'source_sans_proregular';
    src:url('../fonts/fontawesome-webfont.eot');
    src:url('../fonts/fontawesome-webfont.eot') format('embedded-opentype'),
        url('../fonts/fontawesome-webfont.woff') format('woff'),
        url('../fonts/fontawesome-webfont.ttf') format('truetype'),
        url('../fonts/fontawesome-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon-google-wallet:before {
    font-family: "source_sans_proregular";
    content: "\f1ee";
}

.icon-facebook:before{
  font-family: "source_sans_proregular";
  content: "\f09a"; 
}

.icon-twitter:before{
  font-family: "source_sans_proregular";
  content: "\f099 ";  
}


/*------------------chat box----------*/

/*Custom Color*/
.button.button-grey {
    border-color: #585858;
    background-color: #585858;
    color: #fff; }
    .button.button-grey:hover {
      color: #fff;
      text-decoration: none; }
    .button.button-grey.active, .button.button-grey.activated {
      border-color: #585858;
      background-color: #686868;
      box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1); }
    .button.button-grey.button-clear {
      border-color: transparent;
      background: none;
      box-shadow: none;
      color: #585858; }
    .button.button-grey.button-icon {
      border-color: transparent;
      background: none; }
    .button.button-grey.button-outline {
      border-color: #585858;
      background: transparent;
      color: #585858; }
      .button.button-grey.button-outline.active, .button.button-grey.button-outline.activated {
        background-color: #585858;
        box-shadow: none;
        color: #fff; }

/*End*/

.light{
  background-color: #2E2E31;
}

.linegrey{

  background-color: #2E2E31;
  border:none;
  border-bottom: 1px solid #8DB4B4;
}

.top180{
  margin-top: 180px;
}

input.white{
  color:#fff;
  font-size:18px;
}

.right8{
  right: 8px;
}

.light-grey{
  background-color: #EDEBEE;
  border:0px;
}

.line-light-grey{
  background-color: #FCFCFC;
  border:none;
  border-bottom: 1px solid #FCB138;
}

.bottommsg{
  position: fixed;
  bottom: 50px;
  left: 0%;
  width: 100%;
  z-index: 999999;
  margin-top: 0px;
}

.divsend{
  margin-left: 7px;
}

.button-clear.button-clear.iconsend{
  font-size: 30px;
  color: #FCB138;
}

.width70{
  width: 75%;
  margin-right:0px; 
}

.log{
  text-align:center;
  font-size: 13px;
  color: #8A8A8A;
  padding: 7px 14px 7px 14px;

}

.message{
  padding: 7px 14px 7px 14px;
    font-size: 16px;
}

.nopadtop{
padding-top: 0px;
}

.content{
  bottom:68px;
}

  /* This is a single-line comment */
  .button.btn-facebook {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  /*text-align: right;*/
  background-color: #2b4b90;
  *background-color: #133783;
  background-image: -moz-linear-gradient(top, #3b5998, #133783);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3b5998), to(#133783));
  background-image: -webkit-linear-gradient(top, #3b5998, #133783);
  background-image: -o-linear-gradient(top, #3b5998, #133783);
  background-image: linear-gradient(to bottom, #3b5998, #133783);
  background-repeat: repeat-x;
  border-color: #133783 #133783 #091b40;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3b5998', endColorstr='#ff133783', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.button.btn-facebook:hover,
.button.btn-facebook:focus,
.button.btn-facebook:active,
.button.btn-facebook.active,
.button.btn-facebook.disabled,
.button.btn-facebook[disabled] {
  color: #ffffff;
  background-color: #133783;
  *background-color: #102e6d;
}

.button.btn-facebook:active,
.button.btn-facebook.active {
  background-color: #0d2456 \9;
}

.btn-twitter {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  /*text-align: right;*/
  background-color: #1c95d0;
  *background-color: #0271bf;
  background-image: -moz-linear-gradient(top, #2daddc, #0271bf);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2daddc), to(#0271bf));
  background-image: -webkit-linear-gradient(top, #2daddc, #0271bf);
  background-image: -o-linear-gradient(top, #2daddc, #0271bf);
  background-image: linear-gradient(to bottom, #2daddc, #0271bf);
  background-repeat: repeat-x;
  border-color: #0271bf #0271bf #014473;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2daddc', endColorstr='#ff0271bf', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-twitter:hover,
.btn-twitter:focus,
.btn-twitter:active,
.btn-twitter.active,
.btn-twitter.disabled,
.btn-twitter[disabled] {
  color: #ffffff;
  background-color: #0271bf;
  *background-color: #0262a6;
}

.btn-twitter:active,
.btn-twitter.active {
  background-color: #01538d \9;
}


.ion-social-facebook:before {
  content: "\f231"; 
  font-size: 140%;
  margin-left: -10px;
  padding-right: 8px;
}

.ion-social-facebook-outline:before {
  content: "\f230"; }

  .ion-social-twitch:before {
  content: "\f4ee"; }

.ion-social-twitch-outline:before {
  content: "\f4ed"; }

.ion-social-twitter:before {
  content: "\f243";
  font-size: 120%; 
  margin-left: -18px;
  padding-right: 8px; }

.ion-social-twitter-outline:before {
  content: "\f242"; }
  /* This is a single-line comment */ 

  /* Have to set height explicity on ui-view 
to prevent collapsing during animation*/
.well[ui-view]{
 height: 65px; 
}

.ui-view-container {
  position: relative;
}

[ui-view].ng-enter, [ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition:all .5s ease-in-out;
  -moz-transition:all .5s ease-in-out;
  -o-transition:all .5s ease-in-out;
  transition:all .5s ease-in-out;
}

[ui-view].ng-enter {
  opacity: 0;
  -webkit-transform:scale3d(0.5, 0.5, 0.5);
  -moz-transform:scale3d(0.5, 0.5, 0.5);
  transform:scale3d(0.5, 0.5, 0.5);
}

[ui-view].ng-enter-active {
  opacity: 1;
  -webkit-transform:scale3d(1, 1, 1);
  -moz-transform:scale3d(1, 1, 1);
  transform:scale3d(1, 1, 1);
}

[ui-view].ng-leave {
  opacity: 1;
  /*padding-left: 0px;*/  
  -webkit-transform:translate3d(0, 0, 0);
  -moz-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0);
}

[ui-view].ng-leave-active {
  opacity: 0;
  /*padding-left: 100px;*/
  -webkit-transform:translate3d(100px, 0, 0);
  -moz-transform:translate3d(100px, 0, 0);
  transform:translate3d(100px, 0, 0);
}