@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?-6nfkwt');
    src:url('../fonts/icomoon.eot?#iefix-6nfkwt') format('embedded-opentype'),
        url('../fonts/icomoon.woff?-6nfkwt') format('woff'),
        url('../fonts/icomoon.ttf?-6nfkwt') format('truetype'),
        url('../fonts/icomoon.svg?-6nfkwt#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-resuelto:before {
    content: "\e614";
}
.icon-revision:before {
    content: "\e615";
}
.icon-estrellas-3:before {
    content: "\e610";
}
.icon-estrellas-2:before {
    content: "\e612";
}
.icon-estrellas-1:before {
    content: "\e613";
}
.icon-yc-back:before {
    content: "\e600";
}
.icon-categorias-pavimento:before {
    /*content: "\e601";*/
    background-image: url('http://i.imgur.com/Kx2Orx8.png');
    background-repeat: no-repeat;
}
.icon-acciones-no-afecta:before {
    content: "\e602";
}
.icon-comments-like:before {
    content: "\e603";
}
.icon-comments-reportar:before {
    content: "\e604";
}
.icon-comments-replicar:before {
    content: "\e60a";
}
.icon-acciones-me-afecta:before {
    content: "\e60b";
}
.icon-acciones-completo:before {
    content: "\e60c";
}
.icon-acciones-compartir:before {
    content: "\e60d";
}
.icon-acciones-ver-mas:before {
    content: "\e60e";
}
.icon-logo:before {
    content: "\e60f";
}
.icon-marcador:before {
    content: "\e611";
}
.icon-tab-ciudad:before {
    content: "\e605";
}
.icon-tab-mi-actividad:before {
    content: "\e606";
}
.icon-tab-directorio:before {
    content: "\e607";
}
.icon-tab-yctv:before {
    content: "\e608";
}
.icon-tab-yo:before {
    content: "\e609";
}
.icon-acciones-comentarios:before{
    content: "\e901";
}
.icon-camara:before {
    content: "\e900";
}