.youtube-container {
    margin-right: 82px;
    /* max-width: 560px; */
    width: 100%;
    
    padding: 10px;
    box-sizing: border-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;  
	/*text-align: center;*/
  }
  
  .video-placeholder {
    
  }
  

  .youtube-thumb {
   /* border: 1px dashed purple;*/

  }
  
  
  h3.texto {
    text-align: right;
	font-size: 200%;
}
  
  p.titulos {
	font-size: 130%;
	font-weight: bold;
}
  
  .texto{
	  font-size: 200%;
	  text-align: left;
	  line-height: 110%;
	  
	  
  }
  
  
  @media screen and (max-width: 500px) {
    .youtube-thumb {
    width: 100%;
    height: 100%;
    }
    .video-placeholder iframe {
       height: 270px;
       width: 113%;
    }
  }
  
  @media screen and (max-width: 568px) {
    .youtube-container {
      width: 100%;
      height: 150%;
    }
  }